@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply text-base font-gemunu
  }

  @font-face {
    font-family: 'GemunuLibre';
    src: url('/fonts/GemunuLibre/GemunuLibre-Bold.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-ExtraBold.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-ExtraLight.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Light.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Medium.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Regular.ttf');
    src: url('/fonts/GemunuLibre/GemunuLibre-Semibold.ttf');
    font-display: swap;
  }
}

